@import "../settings/colors";

.text {
    font-weight: 400;
    &.text---medium, .text--medium{
        font-weight: 500;
    }
    &.text---semibold, .text--semibold{
        font-weight: 600;
    }
    &.text--bold, strong{
        font-weight: 700;
    }
    &.text--label{
        font-size: 12px;
        line-height: 16px;
        color: $greyblue-50;
    }
    &.text-5xl{
        font-size: 48px;
        line-height: 52px;
        @media( max-width: 767px) {
            font-size: 36px;
        }
    }
    &.text-4xl{
        font-size: 36px;
        line-height: 40px;
        @media( max-width: 767px) {
            font-size: 30px;
        }
    }
    &.text-3xl{
        font-size: 30px;
        line-height: 36px;
        @media( max-width: 767px) {
            font-size: 24px;
        }
    }
    &.text-2xl{
        font-size: 24px;
        line-height: 32px;
        @media( max-width: 767px) {
            font-size: 20px;
        }
    }
    &.text-xl{
        font-size: 20px;
        line-height: 28px;
        @media( max-width: 767px) {
        }
    }
    &.text-lg{
        font-size: 18px;
        line-height: 32px;
        @media( max-width: 767px) {
            font-size: 16px;
        }
    }
    &.text-base{
        font-size: 16px;
        line-height: 24px;
        @media( max-width: 767px) {
        }
    }
    &.text-sm{
        font-size: 14px;
        line-height: 24px;
        @media( max-width: 767px) {
        }
    }
    &.text-xs{
        font-size: 12px;
        line-height: 14px;
        @media( max-width: 767px) {
        }
    }
    &.text-xxs{
        font-size: 10px;
        line-height: 12px;
        @media( max-width: 767px) {
        }
    }
    &.text-ls10{
        letter-spacing: 10px;
    }
}