.bars{
	width: 100%;
	display: flex;
	justify-content: space-between;
	.bars__item{
		text-align: center;
		height: 600px;
		width: 160px;
		padding-top: 50px;
		position: relative;
		overflow: hidden;
		.bars__icon{
			width: 90px;
			height: 90px;
			border-radius: 100%;
			display: inline-block;
			background-color: grey;
			cursor: pointer;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 60px;
		}
		.bars__column{
			display: block;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 100px;
			background-color: grey;
			cursor: pointer;
			&.active{
				height: 360px;
			}
			.bars__column__head{
				display: inline-block;
				width: 160px;
				height: 160px;
				border-radius: 100%;
				background-color: #fff;
				position: absolute;
				outline: solid 12px grey;
				outline-offset: -12px;
				top: 0;
				left: 0;
				transform: translate(0,-50%);
				.bars__column__number{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			.bars__column__text{
				position: absolute;
				left: 0;
				top: 110px;
				width: 100%;
				font-size: 14px;
				line-height: 21px;
				padding: 0 5px;
				color: #fff;
			}
		}
		&.bars__item--yellow{
			.bars__icon, .bars__column{ background-color: #ebb359; }
			.bars__column__head{ outline-color: #ebb359; color: #ebb359;  }
			.bars__icon{ background-image: url('../img/icon-money.png'); }
		}
		&.bars__item--orange{
			.bars__icon, .bars__column{ background-color: #d96017; }
			.bars__column__head{ outline-color: #d96017; color: #d96017;  }
			.bars__icon{ background-image: url('../img/icon-rocket.png'); }
		}
		&.bars__item--red{
			.bars__icon, .bars__column{ background-color: #bf2d67; }
			.bars__column__head{ outline-color: #bf2d67; color: #bf2d67;  }
			.bars__icon{ background-image: url('../img/icon-user.png'); }
		}
		&.bars__item--sky{
			.bars__icon, .bars__column{ background-color: #79bff3; }
			.bars__column__head{ outline-color: #79bff3; color: #79bff3; }
			.bars__icon{ background-image: url('../img/icon-bulb.png'); }
		}
		&.bars__item--violet{
			.bars__icon, .bars__column{ background-color: #8a88d8; }
			.bars__column__head{ outline-color: #8a88d8; color: #8a88d8;  }
			.bars__icon{ background-image: url('../img/icon-pie.png'); }
		}
		&.bars__item--emerald{
			.bars__icon, .bars__column{ background-color: #7fcda5; }
			.bars__column__head{ outline-color: #7fcda5; color: #7fcda5;  }
			.bars__icon{ background-image: url('../img/icon-bars.png'); }
		}
	}
}

.bars__wrapper{
	.bars__title{
		h2{
			color: #fff;
		}
	}
	.container{
		@media( max-width: 1200px) {
			max-width: 100%;
			.bars{
				.bars__item{
					width: 140px;
					.bars__column{
						.bars__column__head{
							width: 140px;
							height: 140px;
						}
					}
				}
			}
		}
		@media( max-width: 1000px) {
			.bars{
				display: block;
				padding-top: 25px;
				padding-bottom: 20px;
				.bars__item{
					width: 33%;
					height: 370px;
					display: inline-block;
					padding-top: 10px;
					margin-bottom: 10px;
					.bars__column{
						height: 180px;
						.bars__column__head{
							left: 50%;
							top: 0;
							transform: translate(-50%, -50%);
						}
						.bars__column__text{
							padding: 0 5px;
							top: 90px;
						}
					}
				}
			}
		}
		@media( max-width: 830px) {
			.bars{
				.bars__item{
					width: 49%;
				}
			}
		}
		@media( max-width: 500px) {
			.bars{
				.bars__item{
					width: 100%;
					.bars__column{
						height: 160px;
					}
				}
			}
		}
	}
}