.bars{
	width: 100%;
	display: flex;
	justify-content: space-between;
	.bars__item{
		text-align: center;
		height: 520px;
		width: 120px;
		padding-top: 20px;
		position: relative;
		.bars__icon{
			width: 55px;
			height: 55px;
			border-radius: 100%;
			display: inline-block;
			background-color: grey;
			cursor: pointer;
		}
		.bars__column{
			display: block;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 100px;
			background-color: grey;
			&.active{
				height: 360px;
			}
			.bars__column__head{
				display: inline-block;
				width: 120px;
				height: 120px;
				border-radius: 100%;
				background-color: #fff;
				position: absolute;
				outline: solid 12px grey;
				outline-offset: -12px;
				top: 0;
				left: 0;
				transform: translate(0,-50%);
			}
		}
		&.bars__item--yellow{
			.bars__icon, .bars__column{ background-color: #ebb359; }
			.bars__column__head{ outline-color: #ebb359;  }
		}
		&.bars__item--orange{
			.bars__icon, .bars__column{ background-color: #d96017; }
			.bars__column__head{ outline-color: #d96017;  }
		}
		&.bars__item--red{
			.bars__icon, .bars__column{ background-color: #bf2d67; }
			.bars__column__head{ outline-color: #bf2d67;  }
		}
		&.bars__item--sky{
			.bars__icon, .bars__column{ background-color: #79bff3; }
			.bars__column__head{ outline-color: #79bff3;  }
		}
		&.bars__item--violet{
			.bars__icon, .bars__column{ background-color: #8a88d8; }
			.bars__column__head{ outline-color: #8a88d8;  }
		}
		&.bars__item--emerald{
			.bars__icon, .bars__column{ background-color: #7fcda5; }
			.bars__column__head{ outline-color: #7fcda5;  }
		}
	}
}